* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(0deg, #0f2027,#203A43, #2C5364);
    color: white;
    font-family: "Poppins", sans-serif;
}

header {
    font-size: 1.6rem;
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background: white;
}

form button{
    color: black;
    background:white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: transparent;
    color: white;
}

